{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}

<body id="body-event">
    

<main class="main-event">
    

    <article class="article-event">
    
    <h1>EVENT</h1>

    <div class="the-event-of-event">
    
    <h2>No events at the moment</h2>

    <p>Unavailable <br>
    Wait for the next event!</p>
    </div>

    </article>



</main>

</body>

{% endblock %}
