{% extends 'base.html.twig' %}

{% block title %}Vestra{% endblock %}

{% block body %}

<body id="body-help-page">
    

    <main id="main-help-page">

    <article class="article-help">
    <h1>Need help?</h1>
    
    <a href="{{ path('app_first-step') }}"><button type="button" class="btn btn-lg">First-step ?</button></a>
    <a href="mailto:vestra.company7@gmail.com"><button type="button" class="btn btn-lg">Contact us</button></a>
    

    </article>



    </main>

</body>
{% endblock %}