<footer>
    <section class="text-footer">

        <div class="social-media">

            <p>Follow us!</p>
            <a href="https://www.instagram.com/vestra_poject?igsh=ZGY2cnpteDRwb2Zv&utm_source=qr" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a>
            <a href="https://www.facebook.com/share/12Eq2gHduGD/?mibextid=wwXIfr" target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></a>
            <a href="https://www.youtube.com/@Vestra.Success" target="_blank"><i class="fa-brands fa-youtube fa-2xl"></i></a>
            <a href="https://x.com/vestrasuccess?s=21" target="_blank"><i class="fa-brands fa-twitter fa-2xl"></i></a>
            <a href="https://www.tiktok.com/@vestra_pro7" target="_blank"><i class="fa-brands fa-tiktok fa-2xl"></i></a>

        </div>


        <div class="text-sucess-vestra">
            <p id="vestra_success">Vestra Success</p>
            <p id="copyrights">© 2025 Vestra. Tous droits réservés.</p>

        </div>


        <div class="confidentiality">
            <a href="{{ path('app_rights') }}">Privacy Policy</a>
            <a href="{{ path('app_rights') }}#mentions-legales">Legal notices</a>
            <a href="{{ path('app_rights') }}#cgu">General conditions of use</a>

        </div>


    </section>

</footer>