#body-event{
    background-image: url(../image/event.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;

}

.main-event{

    margin-top: 70px;
    padding-top: 100px;
    padding-bottom: 150px;

    .article-event{
        text-align: center;

        h1{
            color: white;
        text-shadow: 5px 3px  4px rgb(9, 9, 9);
        }

        .the-event-of-event{
            text-align: center;
            margin-top: 50px;
            

            
        }
    }
}