
.body-first-step{
    background: linear-gradient(135deg, #9f9ff3, #b05bc573 );

}

.main-first-step{

    margin-top: 70px;
    padding-top: 100px;
    text-align: center;

    #text-first{
        background-color: rgba(240, 248, 255, 0.381);

        h1{
            color: rgb(8, 8, 8);
            
            margin-bottom: 30px;
            font-family: monserrat;
        }

        p{
            color: rgb(8, 8, 8);
            font-size: 20px;
            margin-left: 120px;
            margin-right: 120px;
        }

        h2{
            color: rgb(8, 8, 8);
            margin-top: 30px;
        }

        .btn{
            margin-top: 40px;
        }
    }

}


.btn:hover{
    transform: scale(1.05);
    transition: transform 1s ease;
}


